/* Detalle de las Series */

* {
    box-sizing: border-box;
}

/*Mobile*/
body {
    background-color: white;
    margin: 0px;
}

/*Header*/

.header {
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.portada {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:1%;
    align-items: center;
} 

.eye {
    margin: 3%;
    margin-left: 3%;
}


.botongeneros {
    text-align: right;
    color: #A6A292;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Arapey', serif;
    margin: 3%;
    
}

.botongeneros:hover {
    opacity:50%;

}

.eye {
    margin: 3%;
    margin-left: 3%;
}
.fotoeye {
    width: 22%;
    }

.fotoeye:hover {
    opacity:50%;

}

/*Main*/
.contenido {
    display: grid;
    grid-template-rows: repeat(1,1fr);
    justify-content: space-around;
}

.imagen {
    margin-top:none;
    width: 90%;
    justify-content: center;
    height: inherit;

}

/* .imgdesktop {
    display: none;
} */

a, a:hover{
    text-decoration: none;
    color: black;
}

a:hover {
    opacity:50%
}

h3.titulo {
    font-family: 'Arapey', serif;
    color:black;
    font-size: 60px;
    margin-bottom:3%;
    margin-top: 3%;
    margin: 1%;

}

.trama {
    font-family: 'Arapey', serif;
    color:black;
    font-size:15px;
    margin: 1%;
    margin-top:5%;
   
}

.botonfavoritos {
    display: grid;
    margin-left: 1%;
    margin-top: 5%;
}
/* 
.paleta { 
    display: none;
    

} */

.informacion {
    line-height: 150%;
    font-family: 'Arapey', serif;
    color:black;
    font-size:15px;
    text-decoration: none;
    list-style-type: none;
    padding: 0%;
    margin: 1%;
    margin-top:5%;
    margin-bottom: 5%;

}

/* Footer Mobile */
hr { 
    margin: 0%;
}

.footer { 
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    height: 5em;
    background-color: black;
    
}
 
.terminos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0%;
    margin-top: 2%;
    padding: 0%;
    font-size: 12px;
}


.miniterminos {
    margin: 2%;
    color:#D5B6A3;
    text-decoration: none;
    font-family: 'Arapey', serif;
    padding-right: 2%;
    padding-left: 2%;
    border-right: solid 1px grey; 
    margin: 0%;

   
}

.miniterminosprivacidad { 
    border-right: none;
    margin: 2%;
    color: #D5B6A3;
    text-decoration: none;
    font-family: 'Arapey', serif;
    padding-right: 2%;
    padding-left: 2%;
    align-content: center;
    margin: 0px;
}

#copyright {
    color: rgb(161, 160, 160);
    text-align: center;
    font-family: 'Arapey', serif;
    font-size: 12px;
    margin: 0%;
}

.names {
    color:  rgb(161, 160, 160);
    width: 100%;
    text-align: center;
    font-family: 'Arapey', serif;
    font-size: 10px;
    align-content: center;
    margin: 0%;
}


/*Tablet*/
@media (min-width:576px) {
.botongeneros {
        font-size: 35px;
    
}

/*Desktop*/
@media (min-width:1024px){

/*Header*/

.header {
    background-image: url(../Images/Logos/img-portada-fondo-cut.jpg);
    background-size: cover;
}


a.eye {
    margin: 1%;
    margin-left: 1%;
    width: 50%;
    margin-bottom: 2.5%;
    
}


.botongeneros {
    font-size: 40px;
    margin: 1%;
    margin-bottom: 2.5%;
}

/*Main*/
.contenido {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    height: 50em;
}

/* .imagen {
    display: none;
} */

.titulo {
    font-size: 80px;
}

.trama {
    font-size:25px;
  
}

.paleta { 
    display: grid;
    width: 50%;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 0%;
}

.informacion {
    font-size:25px;
}
/* Footer Desktop*/

.footer { 
    height: 8em;
}
 
.terminos{
    font-size: 20px;
    margin-top: 0%;
}

.miniterminos {
    padding-right: 1%;
    padding-left: 1%;
}

.miniterminosprivacidad { 
    padding-right: 1%;
    padding-left: 1%;
}



#copyright {
    font-size: 20px;
}

.names {
    font-size:15px;
}

}
}