/* Hoja de Estilo */

/* Detalle de géneros */

body {
    background-color: black;
}

.genero {
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: 'Arapey', serif;
    color: #D5B6A3;
}

.contenido {
    display: grid;
}



.peliculas {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.polaroid {
    background-color: #D5B6A3;
    background-image: url(../Images/Logos/img-textura.png);
    background-size: cover;
    display: grid;
    gap: 10px;
}

.imagen {
    width: 100%;
    padding: 2%;
}
.textopolaroid {
    font-family: 'Arapey', serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.textopolaroidtitulo{
    margin: 0px;
}

.textopolaroidaño{
    margin: 0px;
}