/* Hoja de Estilo */

/* Detalle de géneros */

/* Header */


/* Header */
body {
    background-color: black;
    margin: 0px;
}

.header {
    background-image: url("../Images/Logos/img-portada-fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.portada {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1%;
}

.eye {
    margin: 3%;
}

.fotoeye {
    width: 22%;
}

.fotoeye:hover {
    opacity:50%;
}

.botonhome {
    text-align: right;
    color: #A6A292;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Arapey', serif;
    margin: 3%;
  
}

.botonhome:hover {
    opacity:50%;

}

.title {
    display: grid;
    place-items: center;
}

h1.titlegenero {
    font-family:'Arapey', serif;
    color: white;
    font-size: 30px;
    margin: 80px;
    margin-bottom: 100px;
    text-transform: uppercase;

}
.espacio {
    display: block;
    height: 2em;
}


/* Main */
body {
    background-color: black;
}

.genero {
    display: block;
    text-align: center;
    font-size: 50px;
    font-family: 'Arapey', serif;
    color: white;
}

.contenidomovies, .contenidotv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2%;
    gap: 10px;
}

h3 {
    margin: 5px;
    margin-left: 2%
    
}


.palabra {
    color:#D5B6A3;
    font-family: 'Arapey', serif;
    font-size: 20px;

}

.polaroid {
    background-color:#D5B6A3;
    background-image: url(../Images/Logos/img-textura.png);
    background-size: cover;
    display: grid;
    gap: 10px;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}

.polaroid:hover {
    opacity: 50%;
}

.imagen {
    justify-self: center;
    width: 95%;
    padding: 2%;
    border-radius:15px ;
}

a, a:hover { 
    text-decoration: none;
}
.textopolaroid {
    font-family: 'Arapey', serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration-line: none ;
}

.textopolaroid:hover {
    text-decoration:none;
    text-decoration-line: none;
    opacity: 50%;
}

.textopolaroidtitulo{
    margin: 0px;
    text-decoration: none;
    color: black;
}



.textopolaroidaño{
    margin: 0px;
    text-decoration-line: none;
    color: black;
}



/* Tablet */
@media (min-width:576px) {
    .botonhome {
        font-size: 35px;
    }
    .contenidomovies, .contenidotv {
        grid-template-columns: repeat(2, 1fr);
}
}

/*Desktop*/

@media (min-width:1024px) {
    
    h1.titlegenero {
        font-size: 80px;
        margin-bottom: 200px;
    }

    .contenidomovies, .contenidotv {
        grid-template-columns: repeat(5,1fr);
    }

    .eye {
        margin: 1%;
        margin-left: 1%;
        width: 70%;
    }
    
    .botonhome {
        font-size: 40px;
        margin: 1%;
    }
}