/*Mobile*/
body {
    background-color: black;
    margin: 0px;
}

/* Header */
body {
    background-color: black;
    margin: 0px;
}

.header {
    background-image: url("../Images/Logos/img-portada-fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.portada {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1%;
}

.eye {
    margin: 3%;
}

.fotoeye {
    width: 22%;
}

.fotoeye:hover {
    opacity:50%;

}
.botonhome {
    text-align: right;
    color: #A6A292;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Arapey', serif;
    margin: 3%;
  
}

.botonhome:hover {
    opacity:50%;

}

.title {
    display: grid;
    place-items: center;
}

.titlefavs {
    margin-bottom: 17%;
    margin-top: 3%;
}



/*Main*/
.palabra {
    color:#D5B6A3;
    font-family: 'Arapey', serif;
    font-size: 20px;
}

h3 {
    margin: 2%;
}

.favoritos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2%;
    gap: 10px;
}


.polaroid {
    background-color: white;
    display: grid;  
    border-radius: 15px;
}

.polaroid:hover {
    opacity: 50%;
}

.imagen {
    justify-self: center;
    width: 95%;
    padding: 2%;
    border-radius:15px ;
}

.textopolaroid {
    font-family: 'Arapey', serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration-line: none ;
}

.textopolaroid:hover {
    text-decoration:none;
    text-decoration-line: none;
    opacity: 50%;
}

.textopolaroidtitulo{
    margin: 0px;
    text-decoration: none;
    color: black;
}



.textopolaroidaño{
    margin: 0px;
    text-decoration-line: none;
    color: black;
}





/*Tablet*/
@media (min-width:576px) {
    .botongeneros {
            font-size: 35px;
        
    }

    .favoritos {
        grid-template-columns: repeat(3,1fr);
    }
}
    
    /*Desktop*/
    @media (min-width:1024px){
    
    /*Header*/
    .eye {
        margin: 1%;
        margin-left: 1%;
        width: 70%;
    }
    
    .botonhome {
        font-size: 40px;
        margin: 1%;
    }

    .title {
        padding-bottom: 0%;
    }
    
    .titlegenero {
        width: 50%;
        margin-bottom: 10%;
        margin-top: 4%;
    }
    
    .favoritos {
        grid-template-columns: repeat(6,1fr);
    }
}
    