/* Footer */

/*Footer Mobile*/
hr { 
    margin: 0px;
    background-color: black;
}

.footer { 
    background-color: black;
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    height: 8em;
}
 
.terminos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0%;
    margin-top: 2%;
    padding: 0%;
    font-size:12px ;
}


.miniterminos {
    margin: 2%;
    color:#D5B6A3;
    text-decoration: none;
    font-family: 'Arapey', serif;
    padding-right: 2%;
    padding-left: 2%;
    border-right: solid 1px grey; 
    margin: 0%;
   
}

.miniterminosprivacidad { 
    border-right: none;
    margin: 2%;
    color: #D5B6A3;
    text-decoration: none;
    font-family: 'Arapey', serif;
    padding-right: 2%;
    padding-left: 2%;
    align-content: center;
    margin: 0px;
}

#copyright {
    color: rgb(161, 160, 160);
    text-align: center;
    font-family: 'Arapey', serif;
    font-size: 12px;
    margin: 0%;
}

.logosocialmedia{
    width: 20px;
    margin-left: 2px;
    margin-right: 2px;
}

.logoapi {
    display: block;
    margin: auto;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

.socialmedia{
    display: flex;
    justify-content: center;
    margin: 3px;
}

.names {
    color:  rgb(161, 160, 160);
    width: 100%;
    text-align: center;
    font-family: 'Arapey', serif;
    font-size: 10px;
    align-content: center;
    margin: 0%;
}


@media (min-width: 1024px){

/* Footer Desktop */

.footer { 
    height: 8em;
    }
 
.terminos{
        font-size:20px ;
        margin-top: 0%;
}

.miniterminos {
        padding-right: 1%;
        padding-left: 1%;
}

.miniterminosprivacidad { 
        padding-right: 1%;
        padding-left: 1%;   
}       



#copyright {
        font-size: 20px;
}

    .names {
        font-size: 15px;
}
}
