/* Sitio de géneros */

/* Mobile */

* {
    box-sizing: border-box;
}

/* Header */
body {
    background-color: black;
    margin: 0px;
}

.header {
    background-image: url("../Images/Logos/img-portada-fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.portada {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1%;
}

.eye {
    margin: 3%;
}

.fotoeye {
    width: 22%;
}

.fotoeye:hover {
    opacity:50%;

}

.botonhome {
    text-align: right;
    color: #A6A292;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Arapey', serif;
    margin: 3%;
}

.botonhome:hover {
    opacity:50%;
}

.title {
    display: grid;
    place-items: center;
}

.titlegenero {
    margin-bottom: 17%;
    margin-top: 3%;
}

/* Generos */

.generos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 2%;
    gap: 10px;
}

.polaroid {
    display: grid;
    gap: 2px;
    background-color: white;
    border-radius: 17px;
}

.polaroid:hover {
    opacity: 50%;
}

a.genero {
    text-decoration: none;
    font-family: 'Arapey', serif;
    color: black;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}


/* Tablet */
@media (min-width:576px) {
    .botonhome {
        font-size: 35px;
    }
    .generos {
        grid-template-columns: repeat(2, 1fr);
}
}

/*Desktop*/

@media (min-width:1024px) {
    .eye {
        margin: 1%;
        margin-left: 1%;
        width: 70%;
    }
    
    .botonhome {
        font-size: 40px;
        margin: 1%;
    }

    .title {
        padding-bottom: 0%;
    }
    
    .titlegenero {
        width: 50%;
        margin-bottom: 10%;
        margin-top: 4%;
    }
        
    
    /* Generos */
    /*REVISAR */
    .generos {
        grid-template-columns: repeat(3,1fr);
        gap: 2%;
        margin-top: 2%;
        margin-bottom: 5%;
        padding:2%;
    }


    .titulospolaroid  {
        font-size: 20px;
    }

    .subtitulospolaroid {
        font-size: 20px;
    }


}