/* Sitio de géneros */

/* Mobile */

* {
    box-sizing: border-box;
}

/* Header */
body {
    background-color: black;
    margin: 0px;
}

.header {
    background-image: url("../Images/Logos/img-portada-fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.portada {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1%;
}

.eye {
    margin: 3%;
}

.fotoeye {
    width: 22%;
}
.botonhome {
    text-align: right;
    color: #A6A292;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Arapey', serif;
    margin: 3%;
  
}

.title {
    display: grid;
    place-items: center;
}

.titlegenero {
    margin-bottom: 17%;
    margin-top: 3%;
}

/* Generos */

.generos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 2%;
    gap: 10px;
}

.polaroid {
    display: grid;
    gap: 2px;
    background-color: white;
}

.titulospolaroid  {
    font-family: 'Arapey', serif;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    margin-top: 0%;
    text-align: center;
    font-size: 35px;
}

.imagengenero {
    width: 100%;
    padding: 10px;
}

.subtitulospolaroid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-family: 'Arapey', serif;
    font-size: 15px;
    margin-left: 2%;
    margin-right: 2%;
}

.subtgeneros {
    margin-left: 3%;
}

.subtnumeros {
    text-align: right;
    margin-right: 3%;
}


/* Footer Mobile*/
hr { 
    margin: 0px;
}

.footer { 
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    height: 5em;
}
 
.terminos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0%;
    margin-top: 2%;
    padding: 0%;
    font-size: 12px;
}

.miniterminos {
    margin: 2%;
    color:#D5B6A3;
    text-decoration: none;
    font-family: 'Arapey', serif;
    padding-right: 2%;
    padding-left: 2%;
    border-right: solid 1px grey; 
    margin: 0%;
}

.miniterminosprivacidad { 
    border-right: none;
    margin: 2%;
    color: #D5B6A3;
    text-decoration: none;
    font-family: 'Arapey', serif;
    padding-right: 2%;
    padding-left: 2%;
    align-content: center;
    margin: 0px;
}

#copyright {
    color: rgb(161, 160, 160);
    text-align: center;
    font-family: 'Arapey', serif;
    font-size: 12px;
    margin:0%;       
}
.names {
    color:  rgb(161, 160, 160);
    width: 100%;
    text-align: center;
    font-family: 'Arapey', serif;
    font-size: 10px;
    align-content: center;
    margin: 0%;
}

/* Tablet */
@media (min-width:576px) {
    .botonhome {
        font-size: 35px;
    }
    .generos {
        grid-template-columns: repeat(2, 1fr);
}
}

/*Desktop*/

@media (min-width:1024px) {
    

    .eye {
        margin: 1%;
        margin-left: 1%;
        width: 70%;
    }
    
    .botonhome {
        font-size: 40px;
        margin: 1%;
    }

    .title {
        padding-bottom: 0%;
    }
    
    .titlegenero {
        width: 50%;
        margin-bottom: 10%;
        margin-top: 4%;
    }
        
    
    /* Generos */
    /*REVISAR */
    .generos {
        grid-template-columns: repeat(3,1fr);
        gap: 2%;
        margin-top: 2%;
        margin-bottom: 5%;
        padding:2%;
    
    }


    .titulospolaroid  {
        font-size: 50px;
    }

    .subtitulospolaroid {
        font-size: 20px;
    }

    /* Footer Desktop */

    .footer { 
    height: 8em;
    }
 
    .terminos{
        font-size: 20px;
        margin-top: 0%;
}

    .miniterminos {
        padding-right: 1%;
        padding-left: 1%;
}

    .miniterminosprivacidad { 
        padding-right: 1%;
        padding-left: 1%;   
}       

    #copyright {
        font-size: 20px;
}

.names {
        font-size: 15px;
}

}