/* Mobile */

/*Header*/

body {
    background-color: black;

}

.header {
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.portada {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:1%;
    align-items: center;
} 


.eye {
    margin: 3%;
    margin-left: 3%;
}


.botongeneros {
    text-align: right;
    color: #A6A292;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Arapey', serif;
    margin: 3%;
    
}

.eye {
    margin: 3%;
    margin-left: 3%;
}


.fotoeye {
    width: 35%;
    }

.fotoeye:hover, .botongeneros:hover {
    opacity: 50%;
}

h3.searchTtile {
    margin:5px;
}

.palabra {
        color:#D5B6A3;
        font-family: 'Arapey', serif;
        font-size: 20px;
        text-transform: uppercase;
    }

.resultados {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2%;
    gap: 10px;
}

a.apolaroid, a.apolaroid:hover {
    opacity: 50%;
    text-decoration: none;


}

.loader {
  position: unset;
  margin-left: 45%;
  margin-right: 50%;
  margin-bottom: 30px;
    

}

.polaroid {
    background-color: #A6A292;
    background-image: url(../Images/Logos/img-textura.png);
    background-size: cover;
    display: grid;
    gap: 10px;
    height: 100%;
    width: 100%;
    border-radius: 15px;

   
}
.polaroid:hover {
    opacity: 50%;
}

.imagen {
    width: 95%;
    padding: 2%;
    justify-self: center;
    border-radius: 15px;
    
}


.textopolaroid {
    font-family: 'Arapey', serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration: none;
    outline: none;
    
}

.textopolaroidtitulo{
    margin: 0px;
    text-decoration: none;
    color: black;
}

.textopolaroidaño{
    margin: 0px;
    text-decoration: none;
    color: black;
}

/*Tablet*/
@media (min-width:576px) {
    .botongeneros {
            font-size: 35px;
        
    }
    .resultados {
        grid-template-columns: repeat(3, 3fr);
    }


}
    
 /*Desktop*/
 @media (min-width:1024px){

/*Header*/
.header {
        background-image: url(../Images/Logos/img-portada-fondo-cut.jpg);
        background-size: cover;
    }
    
    
a.eye {
        margin: 1%;
        margin-left: 1%;
        width: 50%;
        margin-bottom: 2.5%;
        
    }
    
    
 .botongeneros {
        font-size: 40px;
        margin: 1%;
        margin-bottom: 2.5%;
    }

.resultados {
        grid-template-columns: repeat(5, 1fr);
        
    }
        


 }

 