/* Mobile */
* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: black;
}

/* CSS NUEVO HEADER */
        .navbar-dark .navbar-nav .nav-link{
            color: #A6A292 !important;
            font-family: 'Arapey', serif;   
            font-size: 20px;
        }

        .btn-outline-success{
            color: #A6A292 !important;
            border-color: #A6A292 !important;
        }

        .form-control {
            background-color: white !important;
            border: #A6A292 important;

        }


/*CSS VIEJO HEADER*/

/* .buscador {
    background-color: black;
    justify-content: center;
    font-family: 'Arapey', serif;    
}

form {
    display: flex;
    flex-direction: row;
}

.searchfield {
    background-color: black;
    text-decoration-color: blanchedalmond;
    border: 0px;
    width: 100%;
}

.searchfield:hover {
    opacity: 50%;
}

.searchbutton {
    background-color: #D5B6A3;
    border: 0px;
    width: 12px;
    border-radius: 10px;
    padding: 0%;
    font-size: 8px;
}

.searchbutton:hover {
    opacity: 50%;
}

input, select, textarea{
    color:#D5B6A3;
}


.header {
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
}

.portada {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding:1%;
}

.eye {
    margin: 3%;
}

.fotoeye {
    width: 60%;
    margin-bottom: 5%;
}

.fotoeye:hover {
    opacity: 50%;
}

.botongeneros {
    text-align: right;
    color: #A6A292;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Arapey', serif;
    margin: 3%;
}

.botongeneros:hover {
    text-decoration-line: none;
    color:  #A6A292 ;
    opacity: 50%;
}

.botonfavoritos{
    text-align: right;
    color: #A6A292;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Arapey', serif;
    margin: 3%;
}

.botonfavoritos:hover {
    text-decoration-line: none;
    color:  #A6A292 ;
    opacity: 50%;
} */

#carouselExampleIndicators {
    margin-bottom: 2px;
 }

 .espacio {
     display: block;
     height: 2em;
 }

h3 {
    margin: 5px;
}

main {
    background-color: black;
}

.palabra {
    color:#D5B6A3;
    font-family: 'Arapey', serif;
    font-size: 20px;
}

.peliculaspopulares {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2%;
    gap: 10px;
}

.seriespopulares {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2%;
    gap: 10px;
}

section.toprated {
    margin-bottom: 0px;
}

.toprated {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2%;
    gap: 10px;
}

 a.apolaroid:hover {
    opacity: 50%;
    text-decoration: none;
}

.polaroid {
    background-color: #D5B6A3;
    background-image: url(../Images/Logos/img-textura.png);
    background-size: cover;
    display: grid;
    gap: 10px;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}

.polaroid:hover {
    opacity: 60%;
    text-decoration-line: none;
    text-decoration:none;
}

.imagen {
    width: 100%;
    padding: 2%;
    border-radius: 15px;
}

a,a:hover {
    text-decoration: none;
    text-decoration-line: none;
    color: black; 
}

.textopolaroid:hover {
    text-decoration-line: none;
}

.textopolaroid {
    font-family: 'Arapey', serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration-line: none;
}

.textopolaroidtitulo{
    margin: 0px;
    color: black;
    text-decoration-line: none;
}

.textopolaroidaño{
    margin: 0px;
    color: black;
    text-decoration-line: none;
}



/* Tablet */
@media (min-width:576px) {
    .botongeneros {
        font-size: 30px;
    }   
    .botonfavoritos{
        font-size: 30px;
    }
    .searchfield {
        font-size: 30px;
    }
    .searchbutton{
        font-size: 12px;
        width: 15%;
    }

    .peliculaspopulares {
        grid-template-columns: repeat(3,1fr);
    }

    .seriespopulares {
        grid-template-columns: repeat(3,1fr);
    }
    
    .toprated {
        grid-template-columns: repeat(3,1fr);
    }

}

/* Desktop */

@media (min-width: 1024px){

    a.eye {
        margin: 1%;
        margin-left: 1%;
        width: 70%;
    }
    
    
    .botongeneros {
        font-size: 40px;
    }

    .botonfavoritos{
        font-size: 40px;
    }
    
    .title {
        padding-top: 0%;
        padding-bottom: 0%;
    }

    h3 {
        margin: 1%;
    }
    
    .subtitulo {
        display: grid;
        margin-top: 0em;
        margin-bottom: 15%;
        margin-top: 5%;
    
    }

    .palabra {
    margin-left: 1%;
    font-size: 25px;
        
    }
    
    
    
    .peliculaspopulares {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 1%;
        margin-right:1%;
        margin-left: 1%;
        margin-bottom: 2%;
    }
    
    .seriespopulares {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 1%;
        margin-right:1%;
        margin-left: 1%;
        margin-bottom: 2%;
    }
   .toprated {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 1%;
        margin-right:1%;
        margin-left: 1%;
        margin-bottom: 2%;
}
}


   
  
    

