/* El margen para todo el cuerpo es de 0 */

/* mobile */
* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: black;
}

.header {
    background-image: url(../Images/Logos/img-portada-fondo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.portada {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:1%;
}
.eye {
    margin: 3%;
    margin-left: 3%;

}
#fotoeye {
width: 22%;
}

.botongeneros {
    text-align: right;
    color: #A6A292;
    font-size: 100%;
    text-decoration: none;
    font-family: 'Arapey', serif;
    margin: 3%;
}

.title {
    display: grid;
    align-items: center;
    place-items: center;
    color:#D5B6A3;
    padding-top: 3%;
    padding-bottom: 15%;
    margin: 0%;
}

h3 {
    margin: 3%;
}

#subtitulo {
    display: none;
}

.palabra {
    color:#D5B6A3;
    font-family: 'Arapey', serif;
    font-size: 110%;
}

#poster{
    width: 100%;
    padding: 2%;
}
 

.films {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-content: center;
    justify-items: center;
    margin-left: 2% ;
    margin-right: 2%;
}

.series {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-content: center;
    justify-items: center;
    margin-bottom: 10%;
}



/*Footer Mobile*/
hr { 
    margin: 0px;
}

.footer { 
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    background-color: black;
    margin-top: auto ;
    height: 5em;
    width: 100%;
    
}
 
.terminos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0%;
    margin-top: 2%;
    padding: 0%;
    font-size: 80%;
}


.miniterminos {
    margin: 2%;
    color:#D5B6A3;
    text-decoration: none;
    font-family: 'Arapey', serif;
    padding-right: 2%;
    padding-left: 2%;
    border-right: solid 1px grey; 
    align-content: center;
    margin: 0%;

   
}

.miniterminosprivacidad { 
    border-right: none;
    margin: 2%;
    color: #D5B6A3;
    text-decoration: none;
    font-family: 'Arapey', serif;
    padding-right: 2%;
    padding-left: 2%;
    align-content: center;
    margin: 0px;
}

#copyright {
    color: rgb(161, 160, 160);
    width: 100%;
    text-align: center;
    font-family: 'Arapey', serif;
    font-size: 80%;
    align-content: center;
    margin: 0%;
}




/* Desktop */

@media (min-width: 1024px){
    .header {
        background-image: url(../Images/Logos/img-portada-fondo.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .portada {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding:1%;
    }
    a.eye {
        margin: 1%;
        margin-left: 1%;
        width: 70%;
    }
    
    
    .botongeneros {
        text-align: right;
        color: #A6A292;
        font-size: 230%;
        text-decoration: none;
        font-family: 'Arapey', serif;
        margin: 1%;
        
    }
    
    .title {
        display: grid;
        align-items: center;
        place-items: center;
        color:#D5B6A3;
        padding-top: 0%;
        margin: 0%;
        padding-bottom: 0%;
    }
    
    #subtitulo {
        display: grid;
        margin-top: 0em;
        margin-bottom: 15%;
        margin-top: 5%;
    
    }
    
    
    .films {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        align-content: center;
        justify-items: center;
        gap: 2%;
        margin-right:1%;
        margin-left: 1%;
    }
    
    .series {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        align-content: center;
        justify-items: center;
        gap: 2%;
        margin-bottom: 3%;
        margin-right:1%;
        margin-left: 1%;
    }
    
    .palabra {
        color:#D5B6A3;
        font-family: 'Arapey', serif;
        font-size: 30px;
        margin-left: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
        
    }
    
    h3 {
    
        margin: 15px;
    }
    
    
    /* Footer Desktop */
    .hr { 
    margin: 0%;
    }

    .footer { 
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    background-color: black;
    height: 8em;
    width: 100%;
    
    }
 
    .terminos{
    display: flex;
    font-size: 130%;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 0%;
    margin-top: 0%;
    padding: 0%;
    
}

    .miniterminos {
        margin: 1%;
        color:#D5B6A3;
        text-decoration: none;
        font-family: 'Arapey', serif;
        padding-right: 1%;
        padding-left: 1%;
        border-right: solid 1px grey; 
        align-content: center;
        margin: 0%;
   
}

    .miniterminosprivacidad { 
        border-right: none;
        margin: 1%;
        color: #D5B6A3;
        text-decoration: none;
        font-family: 'Arapey', serif;
        padding-right: 1%;
        padding-left: 1%;
        align-content: center;
        margin: 0%;
}



    #copyright {
        color: rgb(161, 160, 160);
        font-size: 130%;
        width: 100%;
        text-align: center;
        font-family: 'Arapey', serif;
        align-content: center;
}
}



   
  
    

