/* El margen para todo el cuerpo es de 0 */

/* Mobile */
* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: black;
}

.header {
    background-image: url(../Images/Logos/img-portada-fondo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.portada {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding:1%;
}
.eye {
    margin: 3%;
    margin-left: 3%;

}
.fotoeye {
width: 22%;
}

.botongeneros {
    text-align: right;
    color: #A6A292;
    font-size: 100%;
    text-decoration: none;
    font-family: 'Arapey', serif;
    margin: 3%;
}

.title {
    display: grid;
    align-items: center;
    place-items: center;
    color:#D5B6A3;
    padding-top: 3%;
    padding-bottom: 15%;
    margin: 0%;
}

h3 {
    margin: 3%;
}

.subtitulo {
    display: none;
}

.palabra {
    color:#D5B6A3;
    font-family: 'Arapey', serif;
    font-size: 25px;
}


 

.films {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-content: center;
    justify-items: center;
    margin-left: 2% ;
    margin-right: 2%;
}

.polaroid {
    background-color: white;
}

.textopolaroid {
    text-decoration: none;
    font-family: 'Arapey', serif;
    font-size: 100%;
    margin-left: 2%
}

.series {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 10%;
    align-content: center;
    justify-items: center;
    margin-left: 2%;
    margin-right: 2%;
}

.documentales {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 10%;
    align-content: center;
    justify-items: center;
    margin-left: 2%;
    margin-right: 2%;
}



/*Footer Mobile*/
hr { 
    margin: 0px;
}

.footer { 
    display: grid;
    grid-template-columns: repeat(1 , 1fr);
    background-color: black;
    margin-top: auto ;
    height: 5em;
    width: 100%;
    
}
 
.terminos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0%;
    margin-top: 2%;
    padding: 0%;
    font-size: 80%;
}


.miniterminos {
    margin: 2%;
    color:#D5B6A3;
    text-decoration: none;
    font-family: 'Arapey', serif;
    padding-right: 2%;
    padding-left: 2%;
    border-right: solid 1px grey; 
    justify-content: center;
    align-content: center;
    margin: 0%;
   
}

.miniterminosprivacidad { 
    border-right: none;
    margin: 2%;
    color: #D5B6A3;
    text-decoration: none;
    font-family: 'Arapey', serif;
    padding-right: 2%;
    padding-left: 2%;
    align-content: center;
    margin: 0px;
}

#copyright {
    color: rgb(161, 160, 160);
    width: 100%;
    text-align: center;
    font-family: 'Arapey', serif;
    font-size: 80%;
    align-content: center;
    margin: 0%;
}



/* Tablet */
@media (min-width:576px) {
    .botongeneros {
        font-size: 200%;
    }
    .films {
        grid-template-columns: repeat(2,1fr);
    }
    
    .series {
        grid-template-columns: repeat(2,1fr);
    }
    
    .documentales {
        grid-template-columns: repeat(2,1fr);
    }
    
}

/* Desktop */

@media (min-width: 1024px){
    .header {
        background-size: cover; 
    }
    
    a.eye {
        margin: 1%;
        margin-left: 1%;
        width: 70%;
    }
    
    
    .botongeneros {
        font-size: 230%;
        margin: 1%;
    }
    
    .title {
        padding-top: 0%;
        padding-bottom: 0%;
    }

    h3 {
        margin: 1%;
    }
    
    .subtitulo {
        display: grid;
        margin-top: 0em;
        margin-bottom: 15%;
        margin-top: 5%;
    
    }

    .palabra {
    margin-left: 1%;
    font-size: 25px;
        
    }
    
    
    .films {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1%;
        margin-right:1%;
        margin-left: 1%;
    }
    
    .series {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1%;
        margin-bottom: 3%;
        margin-right:1%;
        margin-left: 1%;
    }
    
    .documentales {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1%;
        margin-bottom: 3%;
        margin-right:1%;
        margin-left: 1%;
    }
    
    
    /* Footer Desktop */

    .footer { 
    height: 8em;
    }
 
    .terminos{
        font-size: 130%;
        margin-top: 0%;
}

    .miniterminos {
        margin: 0%;
        padding-right: 1%;
        padding-left: 1%;
}

    .miniterminosprivacidad { 
        margin: 1%;
        padding-right: 1%;
        padding-left: 1%;   
}       



    #copyright {
        font-size: 130%;
}
}


   
  
    

