/* Mobile */
* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: black;
}

/*Buscador*/

.buscador {
    background-color: black;
    display: grid;
    justify-content: center;
    padding: 10px;
    font-family: 'Arapey', serif;
    border-bottom: 0px;
}
.searchfield {
    background-color: black;

}

.searchbutton {
    background-color: #D5B6A3;
}

/*Header*/
.header {
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
}

.portada {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding:1%;
}
.eye {
    margin: 3%;
}

.fotoeye {
    width: 34%;
}

.botongeneros {
    text-align: right;
    color: #A6A292;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Arapey', serif;
    margin: 3%;
}

#carouselExampleIndicators {
    margin-bottom: 2px;
 }

 .espacio {
     display: block;
     height: 2em;
 }
h3 {
    margin: 5px;
   
}

main {
    background-color: black;
}

.palabra {
    color:#D5B6A3;
    font-family: 'Arapey', serif;
    font-size: 20px;
}

.peliculaspopulares {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2%;
    gap: 10px;
}

.seriespopulares {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2%;
    gap: 10px;
}
section.toprated {
    margin-bottom: 0px;

}
.toprated {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 2%;
    gap: 10px;
  

    
    
}

.polaroid {
    background-color: #D5B6A3;
    background-image: url(../Images/Logos/img-textura.png);
    background-size: cover;
    display: grid;
    gap: 10px;
}


.imagen {
    width: 100%;
    padding: 2%;
    
}


.textopolaroid {
    font-family: 'Arapey', serif;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-decoration: none;
    
}

.textopolaroidtitulo{
    margin: 0px;
    text-decoration: none;
    color: black;
}

.textopolaroidaño{
    margin: 0px;
    text-decoration: none;
    color: black;
}



/* Tablet */
@media (min-width:576px) {
    .botongeneros {
        font-size: 35px;
    }   

    .peliculaspopulares {
        grid-template-columns: repeat(3,1fr);
    }

    .seriespopulares {
        grid-template-columns: repeat(3,1fr);
    }
    
    .toprated {
        grid-template-columns: repeat(3,1fr);
    }
}

/* Desktop */

@media (min-width: 1024px){

    a.eye {
        margin: 1%;
        margin-left: 1%;
        width: 70%;
    }
    
    
    .botongeneros {
        font-size: 40px;
        margin: 1%;
    }
    
    .title {
        padding-top: 0%;
        padding-bottom: 0%;
    }

    h3 {
        margin: 1%;
    }
    
    .subtitulo {
        display: grid;
        margin-top: 0em;
        margin-bottom: 15%;
        margin-top: 5%;
    
    }

    .palabra {
    margin-left: 1%;
    font-size: 25px;
        
    }
    
    
    
    .peliculaspopulares {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 1%;
        margin-right:1%;
        margin-left: 1%;
        margin-bottom: 2%;
    }
    
    .seriespopulares {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 1%;
        margin-right:1%;
        margin-left: 1%;
        margin-bottom: 2%;
    }
   .toprated {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 1%;
        margin-right:1%;
        margin-left: 1%;
        margin-bottom: 2%;
}
}


   
  
    

